
.btn-outline-primary {
  padding: 16px 25px;
  border: 1px solid #42708C !important;
  border-radius: 35px;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #467296;

  &:hover {
    background-color: #42708C !important;
    color: #fff !important;
  }

  @media (min-width: 1024px) {
    .btn-outline-primary {
      padding: 20px 40px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.btn-connect {
  padding: 18px 40px;
  background-color: #FFFFFF;
  border-radius: 29px;
  color: #467296;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  border: 2px solid transparent;

  &:hover {
    color: #FFFFFF;
    background-color: transparent;
    border-color: white;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  @media (max-width: 767px) {
    border-radius: 35px;
    font-size: 12px;
    line-height: 15px;
    width: 184px;
    padding: 16px 0;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    font-size: 12px;
    padding: 12px 0;
    width: 100%;
  }

  @media (min-width: 2000px) {
    font-size: 23px;
    padding: 30px 60px;
  }
}