@import "navbar", "footer", "drive";

header {
  background-image: url(../images/company/company-header-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 620px;
  @media (max-width: 768px) {
    min-height: 450px;
  }
}

.btn-outline-primary {
  padding: 16px 25px;
  border: 1px solid #42708C !important;
  border-radius: 35px;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #467296;

  &:hover {
    background-color: #42708C !important;
    color: #fff !important;
  }

  @media (min-width: 1024px) {
    .btn-outline-primary {
      padding: 20px 40px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.btn-connect {
  padding: 18px 40px;
  background-color: #FFFFFF;
  border-radius: 29px;
  color: #467296;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  border: 2px solid transparent;

  &:hover {
    color: #FFFFFF;
    background-color: transparent;
    border-color: white;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  @media (max-width: 767px) {
    border-radius: 35px;
    font-size: 12px;
    line-height: 15px;
    width: 184px;
    padding: 16px 0;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    font-size: 12px;
    padding: 12px 0;
    width: 100%;
  }

  @media (min-width: 2000px) {
    font-size: 23px;
    padding: 30px 60px;
  }
}

.banner {
  background-color: #55A6D9;
  padding: 50px 20px;

  @media (min-width: 1200px) {
    padding: 80px;
  }


  .banner-title {
    font-family: "Muli", sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(41, 53, 61, 0.3);
    position: relative;
    font-size: 43px;
    line-height: 110%;

    @media (min-width: 520px) {
      font-size: 60px;
    }

    @media (min-width: 660px) {
      font-size: 70px;
    }

    @media (min-width: 768px) {
      font-size: 47px;
      line-height: 120%;
    }

    @media (min-width: 992px) {
      font-size: 70px;
    }

    @media (min-width: 1200px) {
      font-size: 80px;
    }

    @media (min-width: 1440px) {
      font-size: 100px;
    }
  }

  .banner-subtitle {
    font-family: "Muli", sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    color: #29353D;
    margin-bottom: 30px;

    @media (min-width: 1024px) and (max-width: 1300px) {
      font-size: 25px;
    }

    @media (min-width: 1300px) {
      font-size: 30px;
    }
  }

  .banner-text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

    @media (min-width: 768px) {
      font-size: 24px;
    }

    @media (min-width: 992px) {
      font-size: 26px;
    }

    @media (min-width: 1200px) {
      font-size: 30px;
    }
  }
}

.mission, .story {
  @media (min-width: 768px) {
    padding-top: 60px;
  }
  @media (min-width: 992px) {
    padding-bottom: 170px;
  }
  @media (min-width: 1024px) {
    padding-top: 89px;
    padding-bottom: 225px;
  }

  .mission-description {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-family: "Muli", sans-serif;
      font-weight: 900;
      font-size: 38px;
      line-height: 120%;
      color: #29353D;
      margin-bottom: 30px;
    }

    .text {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 150%;
      color: #688DA3;
      margin-bottom: 40px;

      &:first-of-type {
        margin-bottom: 20px;
      }
    }

    @media (min-width: 768px) {
      padding: 75px 20px 50px 20px;
      .title {
        font-size: 45px;
      }

      .text {
        max-width: 350px;
      }
    }

    @media (min-width: 1024px) {
      padding: 75px;
      .title {
        font-size: 50px;
      }

      .text {
        max-width: 400px;
        font-size: 25px;
      }
    }

    @media (min-width: 1200px) {
      padding: 160px 0 130px 150px;

      .title {
        font-size: 60px;
        margin-bottom: 40px;
      }

      .text {
        font-size: 26px;
        max-width: 410px;
      }
    }
  }

  .mission-image {
    max-width: 700px;
  }
}

.mission {
  .mission-description {
    background-image: url(../images/home/logo-pattern.png);
    background-repeat: no-repeat;
    background-position: top left;
    -webkit-background-size: 75%;
    background-size: 75%;
  }
}

.story {
  background-color: #29353D;
  background-image: url(../images/company/logo-pattern.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 0;
  .left-side-img {
    top: -200px;
    position: relative;
  }

  .mission-description {

    .title {
      color: #55A6D9;
    }

    .text {
      font-size: 20px;
      max-width: 350px;

      &:first-of-type {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 767px) {
      .row {
        & > div:nth-of-type(1), & > div:nth-of-type(3) {
          margin-bottom: 20px;
        }

        & > div:nth-of-type(even) {
          margin-bottom: 60px;
        }

        & > div:last-of-type {
          margin-bottom: 0;
          position: relative;
          bottom: -40px;
        }
      }
    }

    @media (min-width: 768px) {
      padding: 0 20px;
      .row {
        & > div:nth-of-type(2) {
          padding-bottom: 80px;
        }
        & > div:nth-of-type(3) {
          margin-top: 60px;
          padding-bottom: 120px;
        }
        & > div:nth-of-type(5) {
          padding-top: 100px;
        }
        & > div:nth-of-type(6) {
          margin-top: -80px;
        }
      }
    }

    @media (min-width: 992px) {
      padding: 0 20px;
      .row {
        .text{
          font-size: 16px;
        }

        & > div:nth-of-type(2) {
          padding-bottom: 80px;
        }
        & > div:nth-of-type(3) {
          margin-top: 50px;
          padding-bottom: 50px;
        }
        & > div:nth-of-type(5) {
          padding-top: 50px;
        }
        & > div:nth-of-type(6) {
          margin-top: -30px;
        }
      }
    }

    @media (min-width: 1200px) {
      padding-right: 50px;
      .row {
        .text{
          font-size: 20px;
        }

        & > div:nth-of-type(2) {
          padding-bottom: 80px;
        }
        & > div:nth-of-type(3) {
          padding-bottom: 80px;
        }
        & > div:nth-of-type(5) {
          padding-top: 90px;
        }
        & > div:nth-of-type(6) {
          margin-top: -40px;
        }
      }
    }

    @media (min-width: 1400px) {
      padding-right: 90px;
      .row {

        & > div:nth-of-type(2) {
          padding-bottom: 80px;
        }
        & > div:nth-of-type(3) {
          padding-bottom: 120px;
        }
        & > div:nth-of-type(5) {
          padding-top: 100px;
        }
        & > div:nth-of-type(6) {
          margin-top: -90px;
        }
      }
    }
  }
}

.giving-back{
  background-color: #E5F2F9;
  .giving-back-carousel{
    .owl-nav{
      display: block!important;
    }
  }
}