.navbar {
  padding: 9px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 1024px) {
  .navbar {
    padding: 20px 50px;
  }
}
@media (min-width: 2000px) {
  .navbar {
    padding: 50px 100px;
  }
}
.navbar .navbar-brand {
  z-index: 2;
}
.navbar .navbar-brand .nav-logo {
  z-index: 3;
  max-width: 178px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar .navbar-brand .nav-logo {
    max-width: 130px;
  }
}
@media (min-width: 1200px) {
  .navbar .navbar-brand .nav-logo {
    max-width: 250px;
  }
}
@media (min-width: 2000px) {
  .navbar .navbar-brand .nav-logo {
    max-width: 400px;
  }
}
.navbar .navbar-brand:nth-of-type(2) {
  display: none;
}
.navbar .navbar-brand:last-of-type {
  display: none;
}
.navbar .navbar-toggler {
  z-index: 2;
}
.navbar .navbar-toggler .icon-burger {
  display: block;
}
.navbar .navbar-toggler .icon-burger-after-scroll {
  display: none;
}
.navbar .navbar-toggler:focus {
  padding: 0;
  outline: none;
}
.navbar .navbar-toggler[aria-expanded=false] .icon-close {
  display: none;
}
.navbar .navbar-toggler[aria-expanded=true] .icon-close {
  display: block;
}
.navbar .navbar-toggler[aria-expanded=true] .icon-burger, .navbar .navbar-toggler[aria-expanded=true] .icon-burger-after-scroll {
  display: none;
}
.navbar .navbar-toggler[aria-expanded=true] ~ .navbar-brand:first-of-type, .navbar .navbar-toggler[aria-expanded=true] ~ .navbar-brand:last-of-type {
  display: none;
}
.navbar .navbar-toggler[aria-expanded=true] ~ .navbar-brand:nth-of-type(2) {
  display: block;
}
@media (min-width: 768px) {
  .navbar .navbar-collapse .navbar-nav {
    flex-grow: 1;
    align-items: center;
  }
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  border-bottom: 3px solid transparent;
  padding: 2px 0;
  color: #fff;
}
@media (max-width: 767px) {
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-family: "Muli", sans-serif;
    font-weight: 900;
    font-size: 38px;
    line-height: 110%;
    color: #467296;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
}
@media (min-width: 2000px) {
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 25px;
  }
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  border-color: #fff;
}
@media (max-width: 767px) {
  .navbar .navbar-collapse .navbar-nav .nav-item:last-of-type {
    margin-bottom: 117px;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
  }
}
.navbar .navbar-collapse.collapsing, .navbar .navbar-collapse.show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 40px;
}
.navbar .btn-connect {
  padding: 20px 40px;
  background-color: #FFFFFF;
  border-radius: 29px;
  color: #467296;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  border: 2px solid transparent;
}
.navbar .btn-connect:hover {
  color: #FFFFFF;
  background-color: transparent;
  border-color: white;
}
.navbar .btn-connect:focus {
  outline: none;
  box-shadow: none;
}
@media (max-width: 767px) {
  .navbar .btn-connect {
    background: #55A6D9;
    border-radius: 35px;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    width: 270px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar .btn-connect {
    font-size: 12px;
    padding: 7px 20px;
  }
}
@media (min-width: 2000px) {
  .navbar .btn-connect {
    font-size: 23px;
    padding: 30px 60px;
  }
}
.navbar .btn-connect-outline {
  display: none;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #467296;
  border: 1px solid #467296;
  border-radius: 29px;
  padding: 8px 15px;
  height: 30px;
}
.navbar .btn-connect-outline:focus {
  outline: none;
  box-shadow: none;
}
.navbar.scrolled {
  background-color: #fff;
  box-shadow: 0 15px 20px rgba(70, 114, 150, 0.1);
}
.navbar.scrolled .navbar-brand:first-of-type {
  display: none;
}
.navbar.scrolled .navbar-brand:nth-of-type(2) {
  display: block;
}
.navbar.scrolled .navbar-brand:last-of-type {
  display: block;
}
@media (max-width: 767px) and (max-width: 767px) {
  .navbar.scrolled .btn-connect-outline {
    display: block;
  }
}
@media (max-width: 767px) {
  .navbar.scrolled .navbar-toggler[aria-expanded=false] .icon-burger {
    display: none;
  }
  .navbar.scrolled .navbar-toggler[aria-expanded=false] .icon-burger-after-scroll {
    display: block;
  }
}
@media (max-width: 767px) {
  .navbar.scrolled .navbar-toggler[aria-expanded=false] ~ .navbar-brand:nth-of-type(2) {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar.scrolled .navbar-toggler[aria-expanded=true] ~ .navbar-brand:nth-of-type(2) {
    display: block;
  }
}
@media (max-width: 767px) {
  .navbar.scrolled .navbar-toggler[aria-expanded=true] ~ .btn-connect-outline {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar.scrolled .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #5A5A5A;
  }
  .navbar.scrolled .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    border-color: #5A5A5A;
  }
  .navbar.scrolled .navbar-collapse.collapsing, .navbar.scrolled .navbar-collapse.show {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 40px;
  }
  .navbar.scrolled .btn-connect {
    background-color: #467296;
    color: #fff;
  }
  .navbar.scrolled .btn-connect:hover {
    color: #467296;
    background-color: transparent;
    border-color: #467296;
  }
}

footer {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(181, 199, 213, 0.03) 100%);
  border-bottom: 4px solid #467296;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    padding-top: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  footer {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  footer {
    padding-top: 90px;
  }
}
footer .footer-logo {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  footer .footer-logo {
    max-width: 150px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer-logo {
    margin-bottom: 30px;
    max-width: 220px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  footer .footer-logo {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  footer .footer-logo {
    margin-bottom: 50px;
  }
}
footer .contact .contact-link {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #084576;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .contact .contact-link {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  footer .contact .contact-link {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  footer .contact .contact-link {
    font-size: 26px;
    padding-left: 95px;
    margin-bottom: 15px;
  }
}
footer .subtitle {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  color: #5A5A5A;
  margin-bottom: 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .subtitle {
    font-size: 22px;
    margin-bottom: 18px;
    margin-top: 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  footer .subtitle {
    font-size: 24px;
    margin-bottom: 22px;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  footer .subtitle {
    font-size: 26px;
    margin-bottom: 25px;
    margin-top: 20px;
  }
}
footer .footer-navbar {
  margin-top: 50px;
  align-items: start;
  padding-bottom: 40px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer-navbar {
    margin-top: 70px;
    align-items: center;
    padding-bottom: 43px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  footer .footer-navbar {
    margin-top: 90px;
    align-items: center;
    padding-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  footer .footer-navbar {
    margin-top: 115px;
    align-items: center;
    padding-bottom: 50px;
  }
}
footer .footer-navbar .nav {
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer-navbar .nav {
    margin-bottom: 20px;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  footer .footer-navbar .nav {
    margin-right: 100px;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  footer .footer-navbar .nav .nav-item {
    flex-basis: 50%;
  }
}
footer .footer-navbar .nav .nav-item .nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #467296;
  margin-bottom: 10px;
  padding: 0;
}
footer .footer-navbar .privacy {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #467296;
}

.drive {
  background: linear-gradient(180deg, #55A6D9 0%, #467296 100%);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 90px;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .drive {
    margin-bottom: 105px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .drive {
    margin-bottom: 120px;
  }
}
@media (min-width: 1200px) {
  .drive {
    margin-bottom: 130px;
  }
}
.drive .row {
  background-image: url("../images/what-we-do/logo-pattern-big.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  -webkit-background-size: 50%;
  background-size: 50%;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 80px 20px;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .drive .row {
    padding: 80px 50px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .drive .row {
    padding: 80px 70px;
    -webkit-background-size: 30%;
    background-size: 30%;
  }
}
@media (min-width: 1200px) {
  .drive .row {
    padding: 85px 100px;
    -webkit-background-size: auto;
    background-size: auto;
  }
}
.drive .row .drive-title {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 110%;
  text-shadow: 0 1px 1px rgba(41, 53, 61, 0.3);
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .drive .row .drive-title {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .drive .row .drive-title {
    font-size: 55px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .drive .row .drive-title {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
.drive .row .main-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .drive .row .main-text {
    font-size: 22px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .drive .row .main-text {
    font-size: 24px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .drive .row .main-text {
    font-size: 26px;
    max-width: 850px;
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .drive .row .btn-connect {
    padding: 12px 30px;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .drive .row .btn-connect {
    padding: 25px 80px;
    border-radius: 45px;
  }
}

header {
  background-image: url(../images/company/company-header-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 620px;
}
@media (max-width: 768px) {
  header {
    min-height: 450px;
  }
}

.btn-outline-primary {
  padding: 16px 25px;
  border: 1px solid #42708C !important;
  border-radius: 35px;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #467296;
}
.btn-outline-primary:hover {
  background-color: #42708C !important;
  color: #fff !important;
}
@media (min-width: 1024px) {
  .btn-outline-primary .btn-outline-primary {
    padding: 20px 40px;
    font-size: 14px;
    line-height: 18px;
  }
}

.btn-connect {
  padding: 18px 40px;
  background-color: #FFFFFF;
  border-radius: 29px;
  color: #467296;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  border: 2px solid transparent;
}
.btn-connect:hover {
  color: #FFFFFF;
  background-color: transparent;
  border-color: white;
}
.btn-connect:focus {
  outline: none;
  box-shadow: none;
}
@media (max-width: 767px) {
  .btn-connect {
    border-radius: 35px;
    font-size: 12px;
    line-height: 15px;
    width: 184px;
    padding: 16px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .btn-connect {
    font-size: 12px;
    padding: 12px 0;
    width: 100%;
  }
}
@media (min-width: 2000px) {
  .btn-connect {
    font-size: 23px;
    padding: 30px 60px;
  }
}

.banner {
  background-color: #55A6D9;
  padding: 50px 20px;
}
@media (min-width: 1200px) {
  .banner {
    padding: 80px;
  }
}
.banner .banner-title {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  color: #FFFFFF;
  text-shadow: 0 1px 1px rgba(41, 53, 61, 0.3);
  position: relative;
  font-size: 43px;
  line-height: 110%;
}
@media (min-width: 520px) {
  .banner .banner-title {
    font-size: 60px;
  }
}
@media (min-width: 660px) {
  .banner .banner-title {
    font-size: 70px;
  }
}
@media (min-width: 768px) {
  .banner .banner-title {
    font-size: 47px;
    line-height: 120%;
  }
}
@media (min-width: 992px) {
  .banner .banner-title {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .banner .banner-title {
    font-size: 80px;
  }
}
@media (min-width: 1440px) {
  .banner .banner-title {
    font-size: 100px;
  }
}
.banner .banner-subtitle {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  color: #29353D;
  margin-bottom: 30px;
}
@media (min-width: 1024px) and (max-width: 1300px) {
  .banner .banner-subtitle {
    font-size: 25px;
  }
}
@media (min-width: 1300px) {
  .banner .banner-subtitle {
    font-size: 30px;
  }
}
.banner .banner-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .banner .banner-text {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .banner .banner-text {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .banner .banner-text {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .mission, .story {
    padding-top: 60px;
  }
}
@media (min-width: 992px) {
  .mission, .story {
    padding-bottom: 170px;
  }
}
@media (min-width: 1024px) {
  .mission, .story {
    padding-top: 89px;
    padding-bottom: 225px;
  }
}
.mission .mission-description, .story .mission-description {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mission .mission-description .title, .story .mission-description .title {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 38px;
  line-height: 120%;
  color: #29353D;
  margin-bottom: 30px;
}
.mission .mission-description .text, .story .mission-description .text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #688DA3;
  margin-bottom: 40px;
}
.mission .mission-description .text:first-of-type, .story .mission-description .text:first-of-type {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .mission .mission-description, .story .mission-description {
    padding: 75px 20px 50px 20px;
  }
  .mission .mission-description .title, .story .mission-description .title {
    font-size: 45px;
  }
  .mission .mission-description .text, .story .mission-description .text {
    max-width: 350px;
  }
}
@media (min-width: 1024px) {
  .mission .mission-description, .story .mission-description {
    padding: 75px;
  }
  .mission .mission-description .title, .story .mission-description .title {
    font-size: 50px;
  }
  .mission .mission-description .text, .story .mission-description .text {
    max-width: 400px;
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .mission .mission-description, .story .mission-description {
    padding: 160px 0 130px 150px;
  }
  .mission .mission-description .title, .story .mission-description .title {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .mission .mission-description .text, .story .mission-description .text {
    font-size: 26px;
    max-width: 410px;
  }
}
.mission .mission-image, .story .mission-image {
  max-width: 700px;
}

.mission .mission-description {
  background-image: url(../images/home/logo-pattern.png);
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-background-size: 75%;
  background-size: 75%;
}

.story {
  background-color: #29353D;
  background-image: url(../images/company/logo-pattern.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 0;
}
.story .left-side-img {
  top: -200px;
  position: relative;
}
.story .mission-description .title {
  color: #55A6D9;
}
.story .mission-description .text {
  font-size: 20px;
  max-width: 350px;
}
.story .mission-description .text:first-of-type {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .story .mission-description .row > div:nth-of-type(1), .story .mission-description .row > div:nth-of-type(3) {
    margin-bottom: 20px;
  }
  .story .mission-description .row > div:nth-of-type(even) {
    margin-bottom: 60px;
  }
  .story .mission-description .row > div:last-of-type {
    margin-bottom: 0;
    position: relative;
    bottom: -40px;
  }
}
@media (min-width: 768px) {
  .story .mission-description {
    padding: 0 20px;
  }
  .story .mission-description .row > div:nth-of-type(2) {
    padding-bottom: 80px;
  }
  .story .mission-description .row > div:nth-of-type(3) {
    margin-top: 60px;
    padding-bottom: 120px;
  }
  .story .mission-description .row > div:nth-of-type(5) {
    padding-top: 100px;
  }
  .story .mission-description .row > div:nth-of-type(6) {
    margin-top: -80px;
  }
}
@media (min-width: 992px) {
  .story .mission-description {
    padding: 0 20px;
  }
  .story .mission-description .row .text {
    font-size: 16px;
  }
  .story .mission-description .row > div:nth-of-type(2) {
    padding-bottom: 80px;
  }
  .story .mission-description .row > div:nth-of-type(3) {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .story .mission-description .row > div:nth-of-type(5) {
    padding-top: 50px;
  }
  .story .mission-description .row > div:nth-of-type(6) {
    margin-top: -30px;
  }
}
@media (min-width: 1200px) {
  .story .mission-description {
    padding-right: 50px;
  }
  .story .mission-description .row .text {
    font-size: 20px;
  }
  .story .mission-description .row > div:nth-of-type(2) {
    padding-bottom: 80px;
  }
  .story .mission-description .row > div:nth-of-type(3) {
    padding-bottom: 80px;
  }
  .story .mission-description .row > div:nth-of-type(5) {
    padding-top: 90px;
  }
  .story .mission-description .row > div:nth-of-type(6) {
    margin-top: -40px;
  }
}
@media (min-width: 1400px) {
  .story .mission-description {
    padding-right: 90px;
  }
  .story .mission-description .row > div:nth-of-type(2) {
    padding-bottom: 80px;
  }
  .story .mission-description .row > div:nth-of-type(3) {
    padding-bottom: 120px;
  }
  .story .mission-description .row > div:nth-of-type(5) {
    padding-top: 100px;
  }
  .story .mission-description .row > div:nth-of-type(6) {
    margin-top: -90px;
  }
}

.giving-back {
  background-color: #E5F2F9;
}
.giving-back .giving-back-carousel .owl-nav {
  display: block !important;
}

/*# sourceMappingURL=company.css.map */
