@import "navbar", "footer", "drive";


header {
  background-image: url(../images/home/home-header-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  @media (max-width: 520px) {
    min-height: 300px;
  }
}

.btn-outline-primary {
  padding: 16px 25px;
  border: 1px solid #42708C !important;
  border-radius: 35px;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #467296;

  &:hover {
    background-color: #42708C !important;
    color: #fff !important;
  }

  @media (min-width: 1024px) {
    .btn-outline-primary {
      padding: 20px 40px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.btn-connect {
  padding: 18px 40px;
  background-color: #FFFFFF;
  border-radius: 29px;
  color: #467296;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  border: 2px solid transparent;

  &:hover {
    color: #FFFFFF;
    background-color: transparent;
    border-color: white;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  @media (max-width: 767px) {
    border-radius: 35px;
    font-size: 12px;
    line-height: 15px;
    width: 184px;
    padding: 16px 0;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    font-size: 12px;
    padding: 12px 0;
    width: 100%;
  }

  @media (min-width: 2000px) {
    font-size: 23px;
    padding: 30px 60px;
  }
}

.banner {
  background-color: #55A6D9;
  padding: 0 20px 20px 20px;

  @media (min-width: 1200px) {
    padding: 80px 80px 0 80px;
  }


  .banner-title {
    font-family: "Muli", sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(41, 53, 61, 0.3);
    position: relative;
    font-size: 43px;
    line-height: 110%;
    top: -53px;

    @media (min-width: 520px) {
      font-size: 60px;
      top: -75px;
    }

    @media (min-width: 660px) {
      font-size: 70px;
      top: -85px;
    }

    @media (min-width: 768px) {
      font-size: 47px;
      line-height: 120%;
      top: -60px;
    }

    @media (min-width: 992px) {
      font-size: 70px;
      top: -90px;
    }

    @media (min-width: 1200px) {
      top: -190px;
      font-size: 80px;
    }

    @media (min-width: 1440px) {
      top: -210px;
      font-size: 100px;
    }
  }

  .banner-text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    @media (max-width: 767px) {
      &:first-of-type {
        margin-top: -23px;
      }

      &:last-of-type {
        margin-bottom: 40px;
      }
    }

    @media (min-width: 768px) {
      font-size: 24px;
      &:first-of-type {
        padding-top: 30px;
      }
    }

    @media (min-width: 992px) {
      font-size: 26px;
    }

    @media (min-width: 1200px) {
      font-size: 30px;
      &:first-of-type {
        padding-top: 0;
      }
    }
  }

  .scroll {
    margin-top: 30px;
    position: relative;
    min-height: 90px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;

    .arrow {
      margin-top: 16px;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translate(-50%, -50%);

      span {
        display: block;
        width: 15px;
        height: 15px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        margin: -5px;
        animation: animate 3s infinite;

        &:nth-child(2) {
          animation-delay: -0.2s;
        }
      }

      @keyframes animate {
        0% {
          opacity: 0;
          transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: rotate(45deg) translate(20px, 20px);
        }
      }
    }
  }
}

.mission, .we-do, .testimonials {
  scroll-behavior: smooth;

  .mission-description {
    padding: 75px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-family: "Muli", sans-serif;
      font-weight: 900;
      font-size: 38px;
      line-height: 120%;
      color: #29353D;
      margin-bottom: 30px;
    }

    .text {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 150%;
      color: #688DA3;
      margin-bottom: 50px;
    }

    @media (min-width: 768px) {
      padding: 75px 20px 50px 20px;
      .title {
        font-size: 45px;
      }

      .text {
        max-width: 350px;
      }
    }

    @media (min-width: 1024px) {
      padding: 75px;
      .title {
        font-size: 50px;
      }

      .text {
        max-width: 400px;
        font-size: 25px;
      }

      .btn-outline-primary {
        padding: 20px 40px;
        font-size: 14px;
        line-height: 18px;
      }
    }

    @media (min-width: 1200px) {
      padding: 160px 0 130px 150px;


      .title {
        font-size: 60px;
        margin-bottom: 40px;
      }

      .text {
        font-size: 26px;
        max-width: 410px;
        margin-bottom: 80px;
      }
    }
  }

  .mission-image {
    z-index: 2;
    @media (min-width: 768px) {
      top: 70px;
      position: relative;
    }

    @media (min-width: 1200px) {
      position: relative;
      top: 89px;
    }
  }
}

.mission {
  .mission-description {
    background-image: url(../images/home/logo-pattern.png);
    background-repeat: no-repeat;
    background-position: top left;
    -webkit-background-size: 75%;
    background-size: 75%;
  }
}

.we-do {
  background-color: #29353D;
  padding: 20px 0;

  .mission-description {
    .title {
      color: #55A6D9;
    }

    .text {
      color: #FFFFFF;
    }

    .btn-outline-primary {
      border-color: #55A6D9 !important;
      color: #55A6D9 !important;

      &:hover {
        background-color: #55A6D9 !important;
        color: #fff !important;
      }
    }
  }

  .owl-carousel {
    .owl-stage-outer {
      .owl-stage {
        padding-left: 0 !important;
        display: flex;

        .owl-item {
          padding-left: 20px;
          padding-bottom: 20px;
          margin-right: 15px;

          img {
            width: fit-content;
          }

          .card {
            padding: 20px;
            width: 188px;
            height: 232px;
            display: flex;
            justify-content: flex-end;
            border: none;
            box-shadow: 6px -6px 24px rgba(89, 89, 89, 0.1);
            border-radius: 10px;
            background-image: url(../images/home/pattern.png);
            background-position: top right;
            background-repeat: no-repeat;
            -webkit-background-size: 75%;
            background-size: 75%;

            .img-fluid {
              margin-bottom: 40px;
            }

            .card-text {
              font-family: "Muli", sans-serif;
              font-size: 15px;
              line-height: 19px;
              letter-spacing: 0.1em;
              color: #29353D;
            }

            @media (min-width: 1200px) {
              padding: 30px;
            }

            &.bg-blue {
              background-color: #77B8E1;
              -webkit-box-shadow: 10px 10px 0 0 rgba(255, 255, 255, 1);
              -moz-box-shadow: 10px 10px 0 0 rgba(255, 255, 255, 1);
              box-shadow: 10px 10px 0 0 rgba(255, 255, 255, 1);
            }
          }
        }

        @media (min-width: 768px) {
          display: contents;
          .owl-item {
            padding: 10px;
            margin-right: 0;

            .card {
              width: auto !important;
            }
          }
        }
        @media (min-width: 1024px) {
          .owl-item {
            padding: 15px;

            .card {
              height: 320px;
            }
          }
        }
        @media (min-width: 1024px) {
          .owl-item {
            padding: 20px;
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    padding: 155px 120px;
  }
}

.testimonials {
  background-color: #E5F2F9;
  @media (min-width: 768px){
    padding-bottom: 100px;
  }
  @media (min-width: 1024px){
    padding-bottom: 150px;
  }
  .right-side {
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }

    .testimonials-image {
      @media (min-width: 768px) {
        left: 50px;
        position: relative;
      }
    }

    .card {
      padding: 40px 30px;
      box-shadow: 0 4px 15px rgba(8, 69, 118, 0.16);
      border-radius: 15px;
      margin: 0 15px;
      top: -30px;
      z-index: 2;

      .card-header {
        margin-bottom: 20px;
      }

      .card-body {
        .card-title {
          font-family: "Muli", sans-serif;
          font-style: italic;
          font-weight: 900;
          font-size: 20px;
          line-height: 25px;
          color: #29353D;
          margin-bottom: 20px;
        }

        .card-text {
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 300;
          font-size: 18px;
          line-height: 160%;
          color: #467296;
          margin-bottom: 20px;
        }
      }

      .card-footer {
        padding-top: 20px;
        padding-bottom: 0;
        border-color: #BBDBF0 !important;

        .card-text {
          font-family: "Muli", sans-serif;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 10px;

          &:first-of-type {
            color: #29353D;
          }

          &:last-of-type {
            color: #467296;
            font-weight: 300;
            margin-bottom: 40px;
          }
        }
      }

      @media (min-width: 768px) {
        width: 600px;
        top: -200px;
        margin: 0;
        .card-header {
          width: 30%;
        }
        .card-body {
          .card-title {
            font-size: 16px;
          }

          .card-text {
            font-size: 14px;
          }
        }
        .card-footer {
          .card-text {
            font-size: 14px;

            &:last-of-type {
              margin-bottom: 20px;
            }
          }

          .btn-outline-primary {
            padding: 12px 25px;
            font-size: 10px;
          }
        }
      }
      @media (min-width: 992px) {
        width: 550px;
        top: -150px;
        margin: 0;
        .card-header {
          width: 50%;
        }
        .card-body {
          .card-title {
            font-size: 20px;
          }

          .card-text {
            font-size: 18px;
          }
        }
        .card-footer {
          .card-text {
            font-size: 18px;

            &:last-of-type {
              margin-bottom: 40px;
            }
          }

          .btn-outline-primary {
            padding: 16px 25px;
            font-size: 12px;
          }
        }
      }
      @media (min-width: 1200px) {
        padding: 50px;
        width: 500px;
        top: -250px;
        margin: 0;
        .card-header {
          width: 50%;
          margin-bottom: 30px;
        }
        .card-body {
          .card-title {
            font-size: 26px;
            margin-bottom: 30px;
          }

          .card-text {
            font-size: 20px;
            margin-bottom: 30px;
          }
        }
        .card-footer {
          padding-top: 30px;

          .card-text {
            font-size: 20px;
            margin-bottom: 15px;

            &:last-of-type {
              margin-bottom: 80px;
            }
          }

          .btn-outline-primary {
            padding: 20px 25px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.drive {
  @media (max-width: 767px) {
    border-radius: 0;
  }
  @media (min-width: 768px) {
    top: -170px;
    margin-bottom: 0;
  }
}