@import "navbar", "footer";

header {
  background-image: url(../images/home/home-header-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  @media (max-width: 520px) {
    min-height: 300px;
  }
}

.banner {
  background-color: #55A6D9;
  padding: 0 20px 20px 20px;

  @media (min-width: 1200px) {
    padding: 80px 80px 0 80px;
  }


  .banner-title {
    font-family: "Muli", sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(41, 53, 61, 0.3);
    position: relative;
    font-size: 43px;
    line-height: 110%;
    top: -53px;

    @media (min-width: 520px) {
      font-size: 60px;
      top: -75px;
    }

    @media (min-width: 660px) {
      font-size: 70px;
      top: -85px;
    }

    @media (min-width: 768px) {
      font-size: 47px;
      line-height: 120%;
      top: -60px;
    }

    @media (min-width: 992px) {
      font-size: 70px;
      top: -90px;
    }

    @media (min-width: 1200px) {
      top: -190px;
      font-size: 80px;
    }

    @media (min-width: 1440px) {
      top: -210px;
      font-size: 100px;
    }
  }

  .banner-text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    @media (max-width: 767px) {
      &:first-of-type {
        margin-top: -23px;
      }

      &:last-of-type {
        margin-bottom: 40px;
      }
    }

    @media (min-width: 768px) {
      font-size: 24px;
      &:first-of-type {
        padding-top: 30px;
      }
    }

    @media (min-width: 992px) {
      font-size: 26px;
    }

    @media (min-width: 1200px) {
      font-size: 30px;
      &:first-of-type {
        padding-top: 0;
      }
    }
  }

  .scroll {
    margin-top: 30px;
    position: relative;
    min-height: 90px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;

    .arrow {
      margin-top: 16px;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translate(-50%, -50%);

      span {
        display: block;
        width: 15px;
        height: 15px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        margin: -5px;
        animation: animate 3s infinite;

        &:nth-child(2) {
          animation-delay: -0.2s;
        }
      }

      @keyframes animate {
        0% {
          opacity: 0;
          transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: rotate(45deg) translate(20px, 20px);
        }
      }
    }
  }
}

.mission, .we-do {
  .mission-description {
    padding: 75px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-family: "Muli", sans-serif;
      font-weight: 900;
      font-size: 38px;
      line-height: 120%;
      color: #29353D;
      margin-bottom: 30px;
    }

    .text {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 150%;
      color: #688DA3;
      margin-bottom: 50px;
    }

    .btn-outline-primary {
      padding: 16px 25px;
      border: 1px solid #42708C !important;
      border-radius: 35px;
      font-family: "Muli", sans-serif;
      font-weight: 900;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #467296;

      &:hover {
        background-color: #42708C !important;
        color: #fff !important;
      }
    }

    @media (min-width: 768px) {
      padding: 75px 20px 50px 20px;
      .title {
        font-size: 45px;
      }

      .text {
        max-width: 350px;
      }
    }

    @media (min-width: 1024px) {
      padding: 75px;
      .title {
        font-size: 50px;
      }

      .text {
        max-width: 400px;
        font-size: 25px;
      }

      .btn-outline-primary {
        padding: 20px 40px;
        font-size: 14px;
        line-height: 18px;
      }
    }

    @media (min-width: 1200px) {
      padding: 160px 0 130px 190px;


      .title {
        font-size: 60px;
        margin-bottom: 40px;
      }

      .text {
        font-size: 26px;
        max-width: 410px;
        margin-bottom: 80px;
      }
    }
  }

  .mission-image {
    z-index: 2;
    @media (min-width: 768px) {
      top: 70px;
      position: relative;
    }

    @media (min-width: 1200px) {
      position: relative;
      top: 89px;
    }
  }
}

.mission {
  .mission-description {
    background-image: url(../images/home/logo-pattern.png);
    background-repeat: no-repeat;
    background-position: top left;
    -webkit-background-size: 75%;
    background-size: 75%;
  }
}

.we-do {
  background-color: #29353D;
  padding: 20px;

  .mission-description {
    .title {
      color: #55A6D9;
    }

    .text {
      color: #FFFFFF;
    }

    .btn-outline-primary {
      border-color: #55A6D9 !important;
      color: #55A6D9 !important;

      &:hover {
        background-color: #55A6D9 !important;
        color: #fff !important;
      }
    }
  }

  .owl-carousel {
    .owl-stage-outer {
      .owl-stage {
        padding-left: 0 !important;

        .owl-item {
          padding-left: 20px;
          padding-bottom: 20px;

          img {
            width: fit-content;
          }

          .card {
            padding: 20px;
            width: 188px;
            height: 232px;
            display: flex;
            justify-content: flex-end;
            border: none;
            box-shadow: 6px -6px 24px rgba(89, 89, 89, 0.1);
            border-radius: 10px;
            background-image: url(../images/home/pattern.png);
            background-position: top right;
            background-repeat: no-repeat;
            -webkit-background-size: 75%;
            background-size: 75%;

            .img-fluid {
              margin-bottom: 40px;
            }

            .card-text {
              font-family: "Muli", sans-serif;
              font-size: 15px;
              line-height: 19px;
              letter-spacing: 0.1em;
              color: #29353D;
            }

            @media (min-width: 1200px) {
              padding: 30px;
            }

            &.bg-blue {
              background-color: #77B8E1;
              -webkit-box-shadow: 10px 10px 0 0 rgba(255, 255, 255, 1);
              -moz-box-shadow: 10px 10px 0 0 rgba(255, 255, 255, 1);
              box-shadow: 10px 10px 0 0 rgba(255, 255, 255, 1);
            }
          }
        }

        @media (min-width: 768px) {
          display: contents;
          .owl-item {
            padding: 10px;

            .card {
              width: auto!important;
            }
          }
        }
        @media (min-width: 1024px) {
          .owl-item {
            padding: 15px;
            .card {
              height: 320px;
            }
          }
        }
        @media (min-width: 1024px) {
          .owl-item {
            padding: 20px;
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    padding: 155px 120px;
  }
}