.navbar {
  padding: 9px 20px;

  @media (min-width: 1024px) {
    padding: 20px 50px;
  }
  @media (min-width: 2000px) {
    padding: 50px 100px;
  }

  .nav-logo {
    max-width: 178px;
    @media (min-width: 1024px) {
      max-width: 250px;
    }
    @media (min-width: 2000px) {
      max-width: 400px;
    }
  }

  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.05em;
          border-bottom: 3px solid transparent;
          padding: 2px 0;
          &:hover{
            border-color: #fff;
          }
        }
      }
    }
  }

  .btn-connect{
    padding: 20px 40px;
    background: #FFFFFF;
    border-radius: 29px;
    color: #467296;
    font-family: "Muli", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }

}