@import "navbar";

header{
  background-image: url(../images/what-we-do/header-bg-image.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  @media (min-width: 2000px) {
    min-height: 700px;
  }
}

.banner{
  background-color: #29353D;
  background-image: url(../images/what-we-do/logo-pattern.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top right;
  padding: 85px 80px;
}